/* 
    
.signinMainbody{
    
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 227, 133);
}
    



.signin{

    border: 1px solid black;
    padding: 30px 20px;
    background-color: rgb(224, 241, 226);
    box-shadow: 7px 8px 5px rgb(119, 116, 116)
   
   
    
}
.signin .header{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(2, 87, 2);
}
.signin label{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.signin input{
    display: block;
    margin-bottom: 15px;
    width: 400px;
    height: 1.8rem;
}
.signin button{

    width: 400px;
    background-color: rgb(10, 160, 10);
    color: whitesmoke;
    
    font-size: 1.2rem;
    padding: 8px;
    
}
.signin button:hover{
    background-color: rgb(40, 178, 40);
}
.signin p{
    font-size: 1.2rem;
    padding-top: 14px;
}
.signin a{
    border: none;
    font-size: 1.4rem;
} */

.login{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;

}
.login input{
    display: block;
    width: 350px;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 1rem;
    /* background-color: rgb(237, 231, 220); */
    /* margin-bottom: 15px; */

}
.login input::placeholder{
    color: rgb(32, 31, 31);
}
.invalid{
    font-size: 15px;
    color: red;
    width: 320px;
}
.login label{
    margin-top: 15px;
    padding: 2px
}

form{
    padding: 10px 20px;
}
.login-submit{
    margin-top: 20px;
    width: 350px;
    /* height: 30px; */
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(233, 188, 104);
}
.login-submit:hover{
    background-color: rgb(237, 210, 159);

}

.login h3{
    margin: 10px 2px;
    font-size: 1.2rem;
}
